<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955565413243-6n5pp3fdk8i1l5plq737pejhhna9t43m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955565413243-6n5pp3fdk8i1l5plq737pejhhna9t43m</string>
	<key>API_KEY</key>
	<string>AIzaSyCmo5yuY5i-904CyQBkxWfRAAtHRGPmwGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>955565413243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IDK.BigMessenger</string>
	<key>PROJECT_ID</key>
	<string>big-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>big-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955565413243:ios:32762bd7694d4fa43fa3de</string>
</dict>
</plist>